body{
    background-color: green;
    font-family: oswald, helvatica, ariel, sans-serif;
    background-image: url("matrix.png");
    background-color: #796a62;
}

div a {
    color: black;
    text-decoration: none;  
}

li {
    color: black;
    text-decoration: underline;
    cursor: pointer;
    text-decoration: none;
}

li:hover{
    background-color: green;
    display: inline;
}

#container {
    background-color: darkgray;
    background-image: url("fixit.png");
    opacity: .95;
    background-repeat: no-repeat; 
    background-position: left bottom;
    background-size: 21%;
    margin-left: auto;
    margin-right: auto;
}

#header { background-color: green;
    color: white;
    text-align: left;
}

#content {
    padding: 1%;
    min-height: 80vh;
}

#topic {
    float: left;
    font-weight: bold;
}

#topic ul{
    list-style-type: none;
    padding: 5%;
}

#topic.selected{
    font-weight: bold;
}

#tde {
    width: 75%;
    float: right
}

img {
    display: block;
    width: 100%;
}

#contact_form {
    width: 75%;
    float: right
}

#contact {
    clear: both;
    background-color: green;
    color: white;
    margin-bottom: 0%;
}

.CodeGorilla {
    float:left;
    text-align:right;
}

* {
    box-sizing: border-box;
}